.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

.menu li a{
    text-decoration: none;
    color:black;
    font-weight: 700;
    display: inline-block;
    padding: 6px 24px;
    background: rgb(185, 201, 185) 110, 82);
    border-radius: 5px;
}