.accueil{
    padding:30px;
    box-sizing:border-box;
}

.title{
    display:flex;
    align-items:center;
    gap:5px;
    font-size:18px;
}

.title span{
    font-size: 20px;
}

.todolist{
    background:#F2F2F2;
    padding:30px;
    box-sizing:border-box;
    margin-top:20px;
}

.todolist label{
    font-weight:700;
    font-size:14px;
}

.todolist input{
    display:block;
    width:50%;
    height:40px;
    text-indent: 15px;
    border:0px;
    margin-top:10px;
}

.todolist button{
    padding:10px 20px;
    font-weight:600;
    border:0px;
    background:#000;
    color:#fff;
    border-radius:5px;
    margin-top:10px;
}

.todolist li button{
    margin-left:10px;
}

.icon{
    color: blue;
}

/*
.accueil h3{
    margin: 20px 0;
}
*/